.card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 12px 12px 0 0;
}

.card__description {
  background-color: white;
  color: black;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.card__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 25px 0 25px;
}

.card__like-button {
  background: transparent url(../images/Heart.svg) center no-repeat;
  height: 18px;
  width: 24px;
  border-style: none;
  padding: 0;
  transition: opacity 0.6s;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}
.card__like-button_active {
  background: transparent url(../images/Heart\ active.svg) center no-repeat;
}

.card__trash-button {
  position: absolute;
  background: transparent url(../images/Trash.svg) center no-repeat;
  margin: auto;
  padding: 0;
  cursor: pointer;
  border: none;
  height: 19.3px;
  width: 18px;
  z-index: 1;
  top: 18px;
  right: 15px;
}

.card__trash-button:hover {
  opacity: 50%;
  transition: 0.2s ease-in;
  cursor: pointer;
}
