.header {
  padding: 45px 0 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 625px) {
  .header {
    padding-left: 2%;
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 320px) {
  .header {
    box-sizing: border-box;
    padding: 28px 167px 32px 27px;
    width: 100%;
  }
  .header__logo {
    width: 124px;
    height: 24px;
  }
}
